torch==2.0.0+cpu  # CPU-only version of PyTorch
diffusers==0.30.3
transformers==4.44.2
accelerate==0.34.2
streamlit==1.25.0
googletrans==4.0.0-rc1
Pillow==10.4.0
matplotlib==3.8.0
opencv-python-headless==4.8.0.76  # Usar versão headless sem display
